body {
    max-width: $desktopScreenLarge;
    // background-color: $verydarkgrayBlue;
}

// Fonts
    
    @font-face {
        font-family: 'overpass';
        src: url(../fonts/Overpass/Overpass-Regular.ttf);
    }

    @font-face {
        font-family: 'ubuntu';
        src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
    }

// Fonts End
.px-6 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.py-6 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.px-7 {
    padding-left: 8.3rem;
    padding-right: 8.3rem;
}

.py-7 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


@include desktop;
@include tabletLarge;
@include phoneLarge;
@include phoneSmall;