
#hero {
    height: 80vh;
    background-image: linear-gradient(to right, $verylightred, $lightred);
    border-bottom-left-radius: 80px;
    overflow: hidden;

    .hero {
        width: 100%;
        height: 80vh;
        background-image: url(../bg-images/bg-pattern-intro.svg);
        background-size: 165%;
        background-position: left;
        overflow: hidden;
    
    
            .nav-container {
                width: 80%;
                height: 100%;
                overflow: hidden;


    
                .nav-bar {
                    font-family: 'overpass';
                    height: 15%;
    
                    .logo {
                        height: 70%;
                        overflow: hidden;
                         
                        // background-color: $verydarkblackBlue;
                    }
    
                    .me-6 {
                        margin-right: 25%;
                    }
    
                       
                    .nav-title {
                        height: 70%;
                        font-size: 120%;
                        
                        a {
                            text-align: center;
                            text-decoration: none;
                            color: $white;
                            font-family: 'overpass';
                            font-weight: 400;
    
    
                            &:hover {
                                text-decoration: underline;
    
                                &_span {
                                    text-decoration: none  !important;
                                }
                            }
                        }
                    }

                    

                    .buttons {
    
                        height: 70%;
                        overflow: hidden;
    
                        input {
                            height: 100%;
                            font-weight: 600;
                            color: $white;
                            box-shadow: none;
    
                            &:hover {
                                background-color: $verylightRed;
                                color: $white;
    
                                &:active {
                                    background-color: $white;
                                    color: $lightRed;
                                }
                            }
                        }
    
                        
                    }
                }
    
                .hero-info {
                    height: 70%;
                    color: $white;
                    font-family: 'ubuntu';
    
                    
    
                    h1 {
    
                        font-size: 3.5rem;
                        font-weight: 600;
                    }
    
                    h6 {
                        font-size: 1rem;
                        font-weight: 400;
                    }
    
                     input {
                        border: 2px solid $white;
                        font-family: 'overpass' !important;
                        font-weight: 500;
                        color: $white;
                        box-shadow: none;
    
                        &:active {
                            background-color: $white !important;
                            color: $lightRed !important;
                            // border: none;
                            
                        }
    
                        &:hover {
                            background-color: $verylightRed;
                            color: $white;
    
                            // &:active {
                            //     background-color: $white;
                            //     color: $lightRed;
                            //     border: none;
                            // }
                        }
    
                    }
                }
    
            }
    }
    
}





