@mixin desktop {
    @media screen and (min-width: 1200px) {
        .mobile-menu {
            display: none !important;
        }
    }

    @media (min-width: $desktopScreen) and (max-width: 1200px){ 
       
        #hero {
            height: 70vh !important;
            border-bottom-left-radius: 70px;


            .hero {
                height: 100%;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;

                .logo {
            
                    img {
                        height: 90%;
                    
                    }
        
                }

                .hamburger {
                    display: none;
                }
               
                .nav-title {
                //    background-color: black !important;
                   margin-right: 15% !important;
                   font-size: 100% !important;
                //    margin: 1rem;
        
                   a {
                       margin: 1rem !important;
                   }
               }
               
               .mobile-menu {
                   display: none !important;
               }

               .nav-bar .buttons input {
                //    padding: !important;
                   font-size: 89.25%;
                   height: 100%;
               }
        
               .hero-info {

                    padding-top: 1rem !important;
                    padding-bottom: 1rem !important;
        
                    h1 {
                        font-size: 3rem !important;
                        margin-bottom: 1rem !important;
                    }
        
                    h6 {
                        font-size: .85rem !important;
                        margin-bottom: 1rem;
                    }
        
                    input {
                        padding: .3rem .5rem !important;
                        font-size: 90% !important;
                        height: 100%;
                    }
               }
        

            }
        }

    }
    
}

@mixin tablet {
    @media (min-width: $tabletScreenLarge) and (max-width: 1020px){ 
       
        #hero {
            // display: none !important;
            height: 70vh !important;
            border-bottom-left-radius: 70px;


            .hero {
                height: 100%;
                background-position: 31% !important;
                background-size: 237% !important;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;

                .mobile-menu {
                    display: none !important;
                }
                .nav-bar {

                    display: flex !important;
                    justify-content: space-between !important;

                    .logo {
                
                        img {
                            height: 80%;
                        
                        }
            
                    }

                    .nav-title {
                        display: none;
                   }

                   .buttons {
                        display: none !important;
                    }

                    .hamburger {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center !important;
                        width: 7%;
                        height: 80%;
    
                        div{
                            background-color: white;
                            margin-bottom: 5px;
                            width: 87% !important;
                            height: 3px !important;
                        }
                    }
                   
            
                }



               .hero-info {
                   
                    margin: 0;
        
                    h1 {
                        // display: none;
                        width: 64%;
                        text-align: center;
                        font-size: 2rem !important;
                    }
        
                    h6 {
                        // display: one;
                        font-size: .8rem !important;
                    }
        
                    .buttons {
                        // display: flex;
                        // justify-content: center;

                        input {
                            // display: none;
                            padding: .5rem .9rem !important;
                            // margin-right: 1rem;
                            font-size: 83% !important;
                            height: 100%;
                        }
                    }
               }
        

            }
        }

    }
}

@mixin phoneLarge {
    @media (min-width: $mobileScreenLarge ) and (max-width: $tabletScreenLarge - 4px){ 
       
        #hero {
            height: 80vh !important;
            border-bottom-left-radius: 60px;


            .hero {
                height: 100% !important;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;
                background-size: 260% !important;
                background-position: 30% 42% !important;
                
                .mobile-menu {
                    display: none !important;
                }

                .nav-bar {

                    display: flex !important;
                    justify-content: space-between !important;
                    margin-bottom: 40px;
                    
                    .logo {
                
                        img {
                            height: 75%;
                        
                        }
            
                    }
    
                    .hamburger {
                        // display: none !important;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center !important;
                        width: 7%;
                        height: 80%;
    
                        div{
                            background-color: white;
                            margin-bottom: 5px;
                            width: 87% !important;
                            height: 2px !important;
                        }
                    }
                   
                    .nav-title {
                        display: none;
                   }
            
                    .buttons {
                       display: none !important;
                   }
            
                }



               .hero-info {
                //    display: none !important;
                margin: 0 !important;
                padding-bottom: 1rem !important;
                    
        
                    h1 {
                        // display: none;
                        width: 101%;
                        text-align: center;
                        font-size: 2.3rem !important;
                        margin-bottom: .8rem !important;
                    }
        
                    h6 {
                        // display: none !important;
                        width: 80%;
                        text-align: center;
                        font-size: 1rem !important;
                        margin-bottom: .8rem !important;
                    }
        
                    .buttons {
                        // display: none !important;
                        display: flex;
                        margin-top: 10px;

                        input {
                            margin-bottom: 3px;
                            padding: .4rem .9rem !important;
                            font-size: .8rem !important;
                            height: 100%;
                        }
                    }
                    
                    
               }
        

            }
        }

    }
    
}

@mixin phoneSmall {

    @media (min-width: $mobileScreenSmall ) and (max-width: $mobileScreenLarge + 2px){ 
       
        #hero {
            height: 90vh !important;
            border-bottom-left-radius: 60px;


            .hero {
                height: 100% !important;
                background-size: 345% !important;
                background-position: 35% 35% !important;
                z-index: 0;

                .nav-container {

                    // padding-top: 1.5rem;

                    .mobile-menu {
                        width: 85%;
                        height: 76vh;
                        top: 18%;
                        left: 7%;
                        position: fixed;
                        border-radius: 5px;
                        box-shadow: 0px 11px 29px -15px;
                        background-color: white;
                        padding: 1rem;
                        overflow: scroll;
                        z-index: 1;
                        display: none !important;
                        // opacity: 1;
                        transition: all .5s ease-in-out;

                            &.menu {
                                // animation: mobileDropdown 300ms ease-in-out forwards;
                                display: block !important;
                            }

                            .links {
                                list-style: none;


                                    a {
                                        text-decoration: none;
                                        color: $verydarkblackBlue;
                                        font-family: 'overpass';
                                       
                                            li {
                                                margin-bottom: 1rem;
                                                
                                                &:hover {
                                                    text-decoration: underline;
                                                }
                                                
                                            }

                                            
                                            
                                    }
                                    
                                    .sub {
                                        display: none !important;
                                        width: 75%;
                                        height: 71px;
                                        border-radius: 5px;
                                        background-color: $verydarkgrayishBlue;
                                        transform: translate(27px, -13px);
                                        // animation: mobileDropdown 300ms ease-in-out forwards;

                                        &.addsub {
                                            display: block !important;                                           
                                        }
                                            

                                            li {    
                                                margin: auto;
                                                color: $white;
                                                font-size: .875rem;
                                            }
                                            
                                    }

                                   

                            }

                            .buttons {
                                width: 90%;
                                height: 25%;
                                margin-top: 9rem;
                                display: flex;
                                overflow: hidden;
                                // flex-wrap: wrap;
                                flex-direction: column;
                                padding: .2rem 2.5rem;

                                input {
                                    height: 50%;
                                    font-weight: 600;
                                    color: $white;
                                    background-color: $lightRed;
                                    box-shadow: none;
                                    padding: 1rem 1rem;
                                    margin-bottom: .2rem;
                                    // &:first-child {
                                    //     margin-bottom: 1rem;
                                    // }

                                    &:hover {
                                        background-color: $verylightRed;
                                        // color: $;
            
                                        &:active {
                                            background-color: $white;
                                            color: $verydarkblackBlue;
                                        }
                                    }
                                }
                            }
                    }

                    .nav-bar {

                        display: flex !important;
                        justify-content: space-between !important;
                        .logo {
                    
                            img {
                                height: 80%;
                            }
                
                        }
        
                        .hamburger {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center !important;
                            width: 10%;
                            height: 40%;
                            
        
                                a {
                                    width: 87%;
                                    height: 100%;
                                    
                                    
                                    div {
                                        width: 87% !important;
                                        height: 2px !important;
                                        background-color: white;
                                        margin-bottom: 5px;
                                        transition: all .5s ease-in-out;

                                            &:nth-child(3) {
                                                margin-top: -7px;
                                            }

                                            &:last-child{
                                                margin: 0;
                                            }
                                    }

                                    &.open  {

                                        div:first-child {
                                            transform: rotate(45deg);
                                            width: 10px;
                                            transform-origin: 1px 5px;
                                        }

                                        div:nth-child(2){
                                            transform: translateY(40px);
                                            background-color: transparent;
                                        }

                                        div:nth-child(3){
                                            transform: translateY(-40px);
                                            background-color: transparent;
                                        }

                                        div:last-child {
                                            transform: rotate(-45deg);
                                            transform-origin: 1px -4px;
                                            width: 10px;
                                        }
                                    }
                                }
                        }
                       
                        .nav-title {
                            display: none;
                       }
                
                        .buttons {
                           display: none !important;
                       }
                
                    }
                }



               .hero-info {
                   
                    padding-top: 1rem !important;
                    padding-bottom: 1rem !important;
        
                    h1 {
                        // display: none;
                        width: 100%;
                        line-height: 2.5rem;
                        text-align: center;
                        font-size: 1.68rem !important;
                        margin-bottom: .8rem !important;
                    }
        
                    h6 {
                        // display: one;
                        width: 100%;
                        line-height: 1.5rem;
                        text-align: center;
                        font-size: .875rem !important;
                        margin-bottom: .8rem !important;
                    }
        
                    .buttons {
                        display: flex;
                        margin-top: 21px;
                        
                        input {
                            margin-bottom: 3px;
                            padding: .4rem .8rem !important;
                            font-size: .95rem !important;
                            height: 100%;
                            font-weight: 600 !important;
                        }
                    }
                    
                    
               }
        

            }
        }

        #future {
            // border: 1px/ solid black;
            height: 250vh !important;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            background-image: url(../bg-images/illustration-editor-mobile.svg) !important;
            background-position: 0 17% !important;
            background-size: 100% !important;

                .future-title {
                    font-size: 1.6rem !important;
                }

                .future-info {
                    // border: 1px solid black;
                    width: 100% !important;
                    height: 50% !important;
                    margin-top: 20rem !important;

                    h4 {
                        text-align: center;
                        font-size: 1.6rem;
                    }

                    p {
                        width: 100% !important;
                        font-size: .9rem !important;
                        display: block;
                        text-align: center;
                    }
                }
        }

        .art {
            // display: none;
            height: 110vh !important;

                
                .art-content {
                    background-size: 161% !important;
                    background-position: center -12rem !important;
                    padding: 1rem !important;
                    flex-direction: column;
                    // border: 1px solid black;

                    img {
                        // display: none;
                        width: 123% !important;
                        left: -11%;
                        top: -33% !important;
                    }
    
                    .art-info {
                        position: relative;
                        width: 100% !important;
                        top: -35%;
                        padding: 0;
                        text-align: center;

                        h2 {
                            font-size: 2rem;
                            // text-align: center;
                        }

                        p {
                            width: 100% !important;
                            font-size: .9rem !important;
                            // text-align: center;
                        }
                    }
                }
        }

        .blog {
            // display: none;
            // border: 1px solid black;
            height: 160vh !important;
            padding: 1rem !important;
            margin: 15% 0 !important;
            background-image: url(../bg-images/illustration-laptop-mobile.svg) !important;
            background-size: 100% !important;

                .blog-info {
                    // border: 1px solid black;
                    width: 100% !important;
                    height: 75% !important;
                    text-align: center;
                    padding: 3rem 0 !important;

                    p {
                        margin-bottom: 0 !important;
                        width: 101% !important;
                        font-size: .9rem !important;
                    }

                }

        }

        .footer {
            // display: none !important;
            height: 150vh !important;
            margin-top: 0 !important;
            flex-direction: column;
            padding: 1rem !important;
            text-align: center !important;

                img {
                    width: 33% !important;
                    height: 5% !important; 
                    transform: translate(86px, 0px);   
                             }           
                .links {
                    // border: 1px solid white;
                    width: 100% !important;
                    padding: 1rem !important;
                    flex-direction: column;
                    
                    div {
                        margin-bottom: 1rem !important;

                        li {
                            font-size: .9rem !important;
                        }
                    }
                }

        }

    }


    
}