// Screen Sizes
    // Mobile
        $mobileScreen: 375px;
    
    // Desktop
        $desktopScreen: 1440px;

// Screen Sizes End

// Colors 
    // Primary
        $lightRed: hsl(356, 100%, 66%);
        $verylightRed: hsl(355, 100%, 74%);
        $verydarkBlue: hsl(208, 49%, 24%);

    // Nuetral
        $white: hsl(0, 0%, 100%);
        $grayishBlue: hsl(240, 2%, 79%);
        $verydarkgrayishBlue: hsl(207, 13%, 34%);
        $verydarkblackBlue: hsl(240, 10%, 16%);

    // Gradient
        $verylightred: hsl(13, 100%, 72%);
        $lightred: hsl(353, 100%, 62%);
        $verydarkgrayBlue: hsl(237, 17%, 21%);
        $verydarkdesaturatedBlue: hsl(237, 23%, 32%);

// Colors End

// Font Size
    $bodyFont: 1rem;

// Font Size End



