body {
  max-width: 1440px;
}

@font-face {
  font-family: 'overpass';
  src: url(../fonts/Overpass/Overpass-Regular.ttf);
}

@font-face {
  font-family: 'ubuntu';
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

.px-6 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-6 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-7 {
  padding-left: 8.3rem;
  padding-right: 8.3rem;
}

.py-7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none !important;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #hero {
    height: 70vh !important;
    border-bottom-left-radius: 70px;
  }
  #hero .hero {
    height: 100%;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  #hero .hero .logo img {
    height: 90%;
  }
  #hero .hero .hamburger {
    display: none;
  }
  #hero .hero .nav-title {
    margin-right: 15% !important;
    font-size: 100% !important;
  }
  #hero .hero .nav-title a {
    margin: 1rem !important;
  }
  #hero .hero .mobile-menu {
    display: none !important;
  }
  #hero .hero .nav-bar .buttons input {
    font-size: 89.25%;
    height: 100%;
  }
  #hero .hero .hero-info {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  #hero .hero .hero-info h1 {
    font-size: 3rem !important;
    margin-bottom: 1rem !important;
  }
  #hero .hero .hero-info h6 {
    font-size: .85rem !important;
    margin-bottom: 1rem;
  }
  #hero .hero .hero-info input {
    padding: .3rem .5rem !important;
    font-size: 90% !important;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  #hero {
    height: 70vh !important;
    border-bottom-left-radius: 70px;
  }
  #hero .hero {
    height: 100%;
    background-position: 31% !important;
    background-size: 237% !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  #hero .hero .mobile-menu {
    display: none !important;
  }
  #hero .hero .nav-bar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  #hero .hero .nav-bar .logo img {
    height: 80%;
  }
  #hero .hero .nav-bar .nav-title {
    display: none;
  }
  #hero .hero .nav-bar .buttons {
    display: none !important;
  }
  #hero .hero .nav-bar .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 7%;
    height: 80%;
  }
  #hero .hero .nav-bar .hamburger div {
    background-color: white;
    margin-bottom: 5px;
    width: 87% !important;
    height: 3px !important;
  }
  #hero .hero .hero-info {
    margin: 0;
  }
  #hero .hero .hero-info h1 {
    width: 64%;
    text-align: center;
    font-size: 2rem !important;
  }
  #hero .hero .hero-info h6 {
    font-size: .8rem !important;
  }
  #hero .hero .hero-info .buttons input {
    padding: .5rem .9rem !important;
    font-size: 83% !important;
    height: 100%;
  }
}

@media (min-width: 425px) and (max-width: 764px) {
  #hero {
    height: 80vh !important;
    border-bottom-left-radius: 60px;
  }
  #hero .hero {
    height: 100% !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background-size: 260% !important;
    background-position: 30% 42% !important;
  }
  #hero .hero .mobile-menu {
    display: none !important;
  }
  #hero .hero .nav-bar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    margin-bottom: 40px;
  }
  #hero .hero .nav-bar .logo img {
    height: 75%;
  }
  #hero .hero .nav-bar .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 7%;
    height: 80%;
  }
  #hero .hero .nav-bar .hamburger div {
    background-color: white;
    margin-bottom: 5px;
    width: 87% !important;
    height: 2px !important;
  }
  #hero .hero .nav-bar .nav-title {
    display: none;
  }
  #hero .hero .nav-bar .buttons {
    display: none !important;
  }
  #hero .hero .hero-info {
    margin: 0 !important;
    padding-bottom: 1rem !important;
  }
  #hero .hero .hero-info h1 {
    width: 101%;
    text-align: center;
    font-size: 2.3rem !important;
    margin-bottom: .8rem !important;
  }
  #hero .hero .hero-info h6 {
    width: 80%;
    text-align: center;
    font-size: 1rem !important;
    margin-bottom: .8rem !important;
  }
  #hero .hero .hero-info .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  #hero .hero .hero-info .buttons input {
    margin-bottom: 3px;
    padding: .4rem .9rem !important;
    font-size: .8rem !important;
    height: 100%;
  }
}

@media (min-width: 320px) and (max-width: 421px) {
  #hero {
    height: 90vh !important;
    border-bottom-left-radius: 60px;
  }
  #hero .hero {
    height: 100% !important;
    background-size: 345% !important;
    background-position: 35% 35% !important;
    z-index: 0;
  }
  #hero .hero .nav-container .mobile-menu {
    width: 85%;
    height: 76vh;
    top: 18%;
    left: 7%;
    position: fixed;
    border-radius: 5px;
    -webkit-box-shadow: 0px 11px 29px -15px;
            box-shadow: 0px 11px 29px -15px;
    background-color: white;
    padding: 1rem;
    overflow: scroll;
    z-index: 1;
    display: none !important;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  #hero .hero .nav-container .mobile-menu.menu {
    display: block !important;
  }
  #hero .hero .nav-container .mobile-menu .links {
    list-style: none;
  }
  #hero .hero .nav-container .mobile-menu .links a {
    text-decoration: none;
    color: #25252d;
    font-family: 'overpass';
  }
  #hero .hero .nav-container .mobile-menu .links a li {
    margin-bottom: 1rem;
  }
  #hero .hero .nav-container .mobile-menu .links a li:hover {
    text-decoration: underline;
  }
  #hero .hero .nav-container .mobile-menu .links .sub {
    display: none !important;
    width: 75%;
    height: 71px;
    border-radius: 5px;
    background-color: #4b5862;
    -webkit-transform: translate(27px, -13px);
            transform: translate(27px, -13px);
  }
  #hero .hero .nav-container .mobile-menu .links .sub.addsub {
    display: block !important;
  }
  #hero .hero .nav-container .mobile-menu .links .sub li {
    margin: auto;
    color: white;
    font-size: .875rem;
  }
  #hero .hero .nav-container .mobile-menu .buttons {
    width: 90%;
    height: 25%;
    margin-top: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: .2rem 2.5rem;
  }
  #hero .hero .nav-container .mobile-menu .buttons input {
    height: 50%;
    font-weight: 600;
    color: white;
    background-color: #ff525d;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 1rem 1rem;
    margin-bottom: .2rem;
  }
  #hero .hero .nav-container .mobile-menu .buttons input:hover {
    background-color: #ff7a85;
  }
  #hero .hero .nav-container .mobile-menu .buttons input:hover:active {
    background-color: white;
    color: #25252d;
  }
  #hero .hero .nav-container .nav-bar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  #hero .hero .nav-container .nav-bar .logo img {
    height: 80%;
  }
  #hero .hero .nav-container .nav-bar .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 10%;
    height: 40%;
  }
  #hero .hero .nav-container .nav-bar .hamburger a {
    width: 87%;
    height: 100%;
  }
  #hero .hero .nav-container .nav-bar .hamburger a div {
    width: 87% !important;
    height: 2px !important;
    background-color: white;
    margin-bottom: 5px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  #hero .hero .nav-container .nav-bar .hamburger a div:nth-child(3) {
    margin-top: -7px;
  }
  #hero .hero .nav-container .nav-bar .hamburger a div:last-child {
    margin: 0;
  }
  #hero .hero .nav-container .nav-bar .hamburger a.open div:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 10px;
    -webkit-transform-origin: 1px 5px;
            transform-origin: 1px 5px;
  }
  #hero .hero .nav-container .nav-bar .hamburger a.open div:nth-child(2) {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    background-color: transparent;
  }
  #hero .hero .nav-container .nav-bar .hamburger a.open div:nth-child(3) {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
    background-color: transparent;
  }
  #hero .hero .nav-container .nav-bar .hamburger a.open div:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 1px -4px;
            transform-origin: 1px -4px;
    width: 10px;
  }
  #hero .hero .nav-container .nav-bar .nav-title {
    display: none;
  }
  #hero .hero .nav-container .nav-bar .buttons {
    display: none !important;
  }
  #hero .hero .hero-info {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  #hero .hero .hero-info h1 {
    width: 100%;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.68rem !important;
    margin-bottom: .8rem !important;
  }
  #hero .hero .hero-info h6 {
    width: 100%;
    line-height: 1.5rem;
    text-align: center;
    font-size: .875rem !important;
    margin-bottom: .8rem !important;
  }
  #hero .hero .hero-info .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 21px;
  }
  #hero .hero .hero-info .buttons input {
    margin-bottom: 3px;
    padding: .4rem .8rem !important;
    font-size: .95rem !important;
    height: 100%;
    font-weight: 600 !important;
  }
  #future {
    height: 250vh !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    background-image: url(../bg-images/illustration-editor-mobile.svg) !important;
    background-position: 0 17% !important;
    background-size: 100% !important;
  }
  #future .future-title {
    font-size: 1.6rem !important;
  }
  #future .future-info {
    width: 100% !important;
    height: 50% !important;
    margin-top: 20rem !important;
  }
  #future .future-info h4 {
    text-align: center;
    font-size: 1.6rem;
  }
  #future .future-info p {
    width: 100% !important;
    font-size: .9rem !important;
    display: block;
    text-align: center;
  }
  .art {
    height: 110vh !important;
  }
  .art .art-content {
    background-size: 161% !important;
    background-position: center -12rem !important;
    padding: 1rem !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .art .art-content img {
    width: 123% !important;
    left: -11%;
    top: -33% !important;
  }
  .art .art-content .art-info {
    position: relative;
    width: 100% !important;
    top: -35%;
    padding: 0;
    text-align: center;
  }
  .art .art-content .art-info h2 {
    font-size: 2rem;
  }
  .art .art-content .art-info p {
    width: 100% !important;
    font-size: .9rem !important;
  }
  .blog {
    height: 160vh !important;
    padding: 1rem !important;
    margin: 15% 0 !important;
    background-image: url(../bg-images/illustration-laptop-mobile.svg) !important;
    background-size: 100% !important;
  }
  .blog .blog-info {
    width: 100% !important;
    height: 75% !important;
    text-align: center;
    padding: 3rem 0 !important;
  }
  .blog .blog-info p {
    margin-bottom: 0 !important;
    width: 101% !important;
    font-size: .9rem !important;
  }
  .footer {
    height: 150vh !important;
    margin-top: 0 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem !important;
    text-align: center !important;
  }
  .footer img {
    width: 33% !important;
    height: 5% !important;
    -webkit-transform: translate(86px, 0px);
            transform: translate(86px, 0px);
  }
  .footer .links {
    width: 100% !important;
    padding: 1rem !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .links div {
    margin-bottom: 1rem !important;
  }
  .footer .links div li {
    font-size: .9rem !important;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in forwards;
          animation: fade-in 300ms ease-in forwards;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 500ms ease-out backwards;
          animation: fade-out 500ms ease-out backwards;
}

#hero {
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  border-bottom-left-radius: 80px;
  overflow: hidden;
}

#hero .hero {
  width: 100%;
  height: 80vh;
  background-image: url(../bg-images/bg-pattern-intro.svg);
  background-size: 165%;
  background-position: left;
  overflow: hidden;
}

#hero .hero .nav-container {
  width: 80%;
  height: 100%;
  overflow: hidden;
}

#hero .hero .nav-container .nav-bar {
  font-family: 'overpass';
  height: 15%;
}

#hero .hero .nav-container .nav-bar .logo {
  height: 70%;
  overflow: hidden;
}

#hero .hero .nav-container .nav-bar .me-6 {
  margin-right: 25%;
}

#hero .hero .nav-container .nav-bar .nav-title {
  height: 70%;
  font-size: 120%;
}

#hero .hero .nav-container .nav-bar .nav-title a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: 'overpass';
  font-weight: 400;
}

#hero .hero .nav-container .nav-bar .nav-title a:hover {
  text-decoration: underline;
}

#hero .hero .nav-container .nav-bar .nav-title a:hover_span {
  text-decoration: none  !important;
}

#hero .hero .nav-container .nav-bar .buttons {
  height: 70%;
  overflow: hidden;
}

#hero .hero .nav-container .nav-bar .buttons input {
  height: 100%;
  font-weight: 600;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#hero .hero .nav-container .nav-bar .buttons input:hover {
  background-color: #ff7a85;
  color: white;
}

#hero .hero .nav-container .nav-bar .buttons input:hover:active {
  background-color: white;
  color: #ff525d;
}

#hero .hero .nav-container .hero-info {
  height: 70%;
  color: white;
  font-family: 'ubuntu';
}

#hero .hero .nav-container .hero-info h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

#hero .hero .nav-container .hero-info h6 {
  font-size: 1rem;
  font-weight: 400;
}

#hero .hero .nav-container .hero-info input {
  border: 2px solid white;
  font-family: 'overpass' !important;
  font-weight: 500;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#hero .hero .nav-container .hero-info input:active {
  background-color: white !important;
  color: #ff525d !important;
}

#hero .hero .nav-container .hero-info input:hover {
  background-color: #ff7a85;
  color: white;
}

#future {
  height: 120vh;
  background-image: url(../bg-images/illustration-editor-desktop.svg);
  background-position: 144% 0%;
  background-repeat: no-repeat;
  background-size: 60%;
  overflow: hidden;
  font-family: 'overpass';
}

#future .future-title {
  font-size: 2.3rem;
  font-weight: 600;
}

#future .future-info {
  width: 50%;
  height: 54%;
  overflow: hidden;
}

#future .future-info h4 {
  font-weight: 600;
}

#future .future-info p {
  width: 85%;
  font-size: .94rem;
}

.art {
  height: 50vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#25252d), to(#2c2d3f));
  background-image: linear-gradient(to right, #25252d, #2c2d3f);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.art .art-content {
  height: 100%;
  background-image: url(../bg-images/bg-pattern-circles.svg);
  background-size: 69%;
  background-repeat: no-repeat;
  background-position: -48% 82%;
}

.art .art-content img {
  height: 145%;
  top: -18%;
  position: relative;
}

.art .art-content .art-info {
  width: 50%;
  color: white;
  font-family: 'overpass';
}

.art .art-content .art-info h2 {
  font-weight: 500;
}

.art .art-content .art-info p {
  width: 87%;
  font-size: .94rem;
  line-height: 1.5rem;
}

.blog {
  height: 120vh;
  background-image: url(../bg-images/illustration-laptop-desktop.svg);
  background-position: -76% 0%;
  background-repeat: no-repeat;
  background-size: 73%;
  overflow: hidden;
  font-family: 'overpass';
  margin-top: 9rem;
}

.blog .blog-info {
  height: 58%;
  width: 50%;
  float: right;
  position: relative;
  top: 23.3%;
}

.blog .blog-info h4 {
  font-weight: 600;
}

.blog .blog-info p {
  width: 94%;
  font-size: .94rem;
  line-height: 1.5rem;
}

.footer {
  height: 50vh;
  background-color: #25252d;
  margin-top: 8rem !important;
  border-top-right-radius: 100px;
  color: white;
  font-family: 'overpass';
  overflow: hidden;
}

.footer img {
  height: 10%;
  margin-top: 4rem;
}

.footer .links {
  width: 71%;
  padding-right: 13rem;
}

.footer .links h6 {
  font-family: 'ubuntu';
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer .links a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

.footer .links a li {
  list-style: none;
  margin-bottom: .6rem;
  font-size: .95rem;
  opacity: .6;
}

.footer .links a li:hover {
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */